#root {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.container {
  width: 800px;
  /* max-width: 800px; */
  margin: auto;
  padding: 20px;
}

form {
  margin-bottom: 20px;
}

input {
  padding: 8px;
  margin: 5px;
  width: 200px;
}

button {
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
}

.note-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 10px;
  text-align: left;
}